<?xml version="1.0"?>
<config>
    <modules>
        <Alanstormdotcom_Weblog>
            <version>0.2.0</version>
        </Alanstormdotcom_Weblog>
    </modules>
    <frontend>
        <routers>
            <weblog>
                <use>standard</use>
                <args>
                    <module>Alanstormdotcom_Weblog</module>
                    <frontName>weblog</frontName>
                </args>
            </weblog>
        </routers>
    </frontend>
    <global>
        <models>
            <weblog>
                <class>Alanstormdotcom_Weblog_Model</class>
                <resourceModel>weblog_mysql4</resourceModel>
            </weblog>
            <weblog_mysql4>
                <class>Alanstormdotcom_Weblog_Model_Mysql4</class>
                <entities>
                    <blogpost>
                        <table>blog_posts</table>
                    </blogpost>
                    <entity>
                        <table>catalog_category_entity</table>
                    </entity>
                    <core>
                        <table>core_resource</table>
                    </core>
                </entities>


            </weblog_mysql4>

        </models>
        <resources>
            <weblog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </weblog_write>
            <weblog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </weblog_read>


            <weblog_setup>
                <setup>
                    <module>Alanstormdotcom_Weblog</module>
                    <class>Alanstormdotcom_Weblog_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </weblog_setup>
        </resources>

    </global>

</config>