<?xml version="1.0"?>
<config>
    <modules>
        <Basetut_Salestaff>
            <version>0.1.0</version>
        </Basetut_Salestaff>
    </modules>

    <admin>
        <routers>
            <salestaffadmin>
                <use>admin</use>
                <args>
                    <module><salestaffadmin>Basetut_Salestaff</salestaffadmin></module>
                    <frontName>salesaffadmin</frontName>
                </args>
            </salestaffadmin>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <salestaff>
                    <file>salestaff.xml</file>
                </salestaff>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <models>
            <salestaff>
                <class>Basetut_Salestaff_Model</class>
                <resourceModel>salestaff_mysql4</resourceModel>
            </salestaff>
            <salestaff_mysql4>
                <class>Basetut_Salestaff_Model_Mysql4</class>
                <entities>
                    <staff>
                        <table>salestaff_staff</table>
                    </staff>
                </entities>
            </salestaff_mysql4>
        </models>

        <resources>
            <salestaff_setup>
                <setup>
                    <module>Basetut_Salestaff</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </salestaff_setup>
            <salestaff_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </salestaff_write>
            <salestaff_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </salestaff_read>
        </resources>

        <!--Khai báo block để có thể dùng được-->
        <blocks>
            <salestaff>
                <class>Basetut_Salestaff_Block</class>
            </salestaff>
        </blocks>
        <!--Khai báo helper-->
        <helpers>
            <salestaff>
                <class>Basetut_Salestaff_Helper</class>
            </salestaff>
        </helpers>
    </global>
</config>